@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}

body {
  color: #fff;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #161616;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

nav li a {
  color: #fff;
  font-size: 1.2em;
}

#img-screen {
  background-image: url("/images/a.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.role {
  height: 90vh;
}

.title {
  color: #fff;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.title span {
  color: #f7c9b6;
}

.about {
  background-color: #cdcdcd;
  height: 100vh;
}

h2 {
  color: #fff;
  font-size: 5em;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  text-shadow: 1px 2px white;
  text-transform: uppercase;
  height: 90vh;
  width: 100%;
  padding: 280px;
  background-color: rgba(0, 0, 0, 0.7);
}
.animate {
  color: #fec89a;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
}
