body {
  overflow-x: hidden;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  scroll-behavior: smooth;
  font-family: "Bebas Neue", cursive;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* BACK TO THE TOP */

button {
  padding: 20px;
  border-radius: 50%;
  background-color: #f7c9b6;
  border: 1px solid #f7c9b6;
}

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back-to-top::after {
  transition: margin-top 250ms;
}

button img {
  width: 20px;
}
